
.footer {
    padding: 73px 0;
    background-color: #3c4955;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
.footer__copyright {
    width: 50%;
    float: left;
}
.footer__social {
    float: right;
}
.copyright__text {
    color: white;
    font-size: 16px;
    line-height: 25px;
}
.copyright__link {
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.copyright__link:hover {
    color: #48bf72;
}