/*form*/

.form {}

.form__text {
    margin-top: 0;
    padding: 2px 2px 0 50px;
    position: relative;
    border-radius: 3px;
    background-color: #3c4955;
}

.form__text:not(.form__text--message) {
    height: 50px;
}


/*:not(form__text--message)*/

.form__text:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 50px;
    border-top: 7.5px solid transparent;
    border-left: 15px solid #3c4955;
    border-bottom: 7.5px solid transparent;
}

.form__text--name {
    width: 46%;
    float: left;
    line-height: 0;
}

.form__text--name:before {
    content: "\f007";
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: calc(50% - 11px);
    left: 14px;
    color: #ffffff;
}

.form__text--email {
    width: 46%;
    float: right;
    line-height: 0;
}

.form__text--email:before {
    content: "\f0e0";
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: calc(50% - 11px);
    left: 14px;
    color: #ffffff;
}

.form__input {
    width: 100%;
    height: 46px;
    padding: 0 22px;
}

.form__input:focus {
    outline: none;
}

.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder,
.form__input:-ms-input-placeholder,
.form__input:-moz-placeholder {
    color: #a6a5a5;
}

.form__text--message {
    height: 228px;
    padding-left: 50px;
    clear: both;
    line-height: 0;
}

.form__text--message:after {
    top: 18px;
}

.form__icon {
    font-size: 22px;
    position: absolute;
    top: 15px;
    left: 14px;
    color: #ffffff;
}

.form__textarea {
    width: 100%;
    height: 224px;
    padding: 16.5px 22px;
    resize: none;
}

.form__textarea:focus {
    outline: none;
}

.form-btn {
    width: 100%;
    height: 50px;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #48bf72;
}

.form-btn:hover {
    cursor: pointer;
}
